// ======================================================================== //
/* TEETH NUMBERS */
/* UPPER TEETH */
/* LEFT TO RIGHT */

#Teeth_numbers {
  #N_18 {
    .cls-32 {
      fill: white !important;
    }
    .cls-33 {
      fill: black !important;
    }
  }

  #N_17 {
    .cls-32 {
      fill: white !important;
    }
    .cls-33 {
      fill: black !important;
    }
  }

  #N_16 {
    .cls-32 {
      fill: white !important;
    }
    .cls-33 {
      fill: black !important;
    }
  }

  #N_15 {
    .cls-31 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_14 {
    .cls-31 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_13 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_12 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_11 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_21 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_22 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_23 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_24 {
    .cls-31 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_25 {
    .cls-31 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_26 {
    .cls-32 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_27 {
    .cls-32 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_28 {
    .cls-32 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  /* LOWER TEETH */
  /* LEFT TO RIGHT */
  #N_48 {
    .cls-30 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_47 {
    .cls-30 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_46 {
    .cls-30 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_45 {
    .cls-30 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_44 {
    .cls-30 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_43 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_42 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_41 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_31 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_32 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_33 {
    .cls-30 {
      fill: white !important;
    }
  }

  #N_34 {
    .cls-30 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_35 {
    .cls-30 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_36 {
    .cls-30 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_37 {
    .cls-30 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }

  #N_38 {
    .cls-30 {
      fill: white !important;
    }

    .cls-33 {
      fill: black !important;
    }
  }
}

// ======================================================================== //
/* SELECTED TEETH */
/* UPPER TEETH */
/* LEFT TO RIGHT */

#Selected_teeth {
  #S_17_18 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_16_17 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_15_16 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_14_15 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_13_14 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_12_13 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_11_12 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_11_21 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_22_21 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  /*
  #S_22_23 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }
  */

  #S_23_22 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_23_24 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_24_25 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_26_25 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_27_26 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  /* ------------------------------------------------------------------------------------- */

  #S_28_27 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  /* ---- */

  /* LOWER TEETH */
  /* LEFT TO RIGHT */

  #S_47_48 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_46_47 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_45_46 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_44_45 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_43_44 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_42_43 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_41_42 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_41_31 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_32_31 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_33_32 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_34_33 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_35_34 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_36_35 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_37_36 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }

  #S_38_37 {
    fill: white !important;
    &:hover {
      fill: #ff9f9f !important;
    }
  }
}

// ======================================================================== //
/* DOTS */
/* UPPER TEETH */
/* LEFT TO RIGHT */





.top-box {
  display: flex;
  height: 3rem;
  padding-top: 16px;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 16px;
    font-weight: normal;
  }

  .global-button {
    height: 30px;
    padding: 0 10px;
    border-radius: 20px;
  }
}

.middle-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;

  h5 {
    font-size: 20px;
    font-weight: normal;
  }
}

.middle-svg {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  align-items: center;
}

.middle-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;

  h5 {
    font-size: 20px;
    font-weight: normal;
  }
}

/* ------------------------------------------------------------- */
.upper-button {
  height: 30px;
  padding: 0 10px;
  border-radius: 20px;
  margin-top: -550px;
  margin-left: 250px;
  z-index: 10;

  &:hover {
    background-color: transparent;
  }
}

.lower-button {
  height: 30px;
  padding: 0 10px;
  border-radius: 20px;
  margin-top: -170px;
  margin-left: 250px;
  z-index: 10;

  &:hover {
    background-color: transparent;
  }
}


/* ------------------------------------------------------------- */

.selected-tooth {
  width: 100%;
  height: 100%;
  margin-top: -240px;
  z-index: 10;
}

.bottom-box {
  margin-top: 30px;
  height: 3rem;
  padding-top: 16px;

  h2 {
    font-size: 16px;
    font-weight: normal;
  }
}

@media only screen and (max-width: 960px) {
  .middle-svg {
    width: 95%;
    height: 95%;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .selected-tooth {
    margin-top: -185px;
  }
}
